<div class="container-fluid streamer">
  <div class="row">
    <div  id="fakeLoader"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-stream-wrapper text-center">
      <% i = 1 %>
      <% while i < 7 %>
      <% @projects.each do |project| %>
      <div class="col-xs-12 app-stream display-app-<%=i.to_i %>"><h3 class="image-title"><%= link_to project.title, project, class:"image-title" %></h3><%= link_to truncate(project.description, length: 120), project, class: "text-description text-center"%></div>
      <% i += 1 %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>




