<div class="container-fluid ">
  <div class="row streamer">
    <div  id="fakeLoader"></div>
    <div class="app-stream-wrapper">
      <% i = 1 %>
        <% @projects.each do |project| %>
          <div class=" app-stream display-app-<%=i.to_i %>"><div class="text-no-visible"><h3 class="image-title"><%= link_to project.title, project, class:"text-description text-center" %></h3><%= link_to truncate(project.description, length: 150), project, class: "text-description text-center"%></div></div>
          <% i += 1 %>
      <% end %>
    </div>
  </div>
</div>
