<h1 id="page_title">Say Hello</h1>

<div class="skinny_wrapper wrapper_padding">
    <h1>Appologize for the inconvinients but this feature is still being develop</h1>
    <p>Thanks for understanding</p>
  <br>

  <p>Please reach me at <a href="mailto:stalintouch1983@gmail.com">stalintouch1983@gmail.com</a></p>
  <!-- <h1>Thanks for your message</h1>
  <p>Stalin will get back to you soon</p> -->
</div>